@model IEnumerable<Facturacion.Models.Vendedor>

@{
    ViewData["Title"] = "Vendedores";
}

<h2 class="text-center">Listado de Vendedores</h2>
<div class="well well-sm mb-4"><a class="btn btn-success px-4" asp-action="Create"><span class="fa fa-plus mr-2"></span>Nuevo vendedor</a></div>

<form method="get" asp-action="Index" class="mb-3 ml-2">
    <div class="form-group row">
        <input class="form-control col-7 mr-2" type="search" placeholder="Ingrese su búsqueda..." value="@ViewData["filter"]" name="filter">
        <button class="btn btn-primary col-1 mr-2" type="submit"><i class="fa fa-search"></i></button>
        <a class="btn btn-secondary col-3" asp-action="Index"><span class="fa fa-file"></span> Obtener todos los registros</a>
    </div>
</form>

<table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario.Nombre_Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Porc_Comision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th colspan="3">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre_Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Porc_Comision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Descripcion)
                </td>
                <td>
                    <a class="btn btn-success mr-2" asp-action="Details" asp-route-id="@item.ID"><span class="fa fa-eye"></span></a>
                    <a class="btn btn-info mr-2" asp-action="Edit" asp-route-id="@item.ID"><span class="fa fa-edit"></span></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
